<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn vue 2 step by step</title>
    <script src="libs/vue/vue.js"></script>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
</head>
<body>
<div id="root" class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>01 data binding v-model</h3>
            <div class="form-inline">
                <input type="text" id="input" v-model="message" class="form-control">
                <p>The value of the input is: {{ message }}</p>
            </div>

            <h3>03 Lists v-for</h3>
            <ul>
                <li v-for="name in names">{{ name }}</li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#root',
        data: {
            message: 'Hello World',
            names: ['Joe', 'Mary', 'Jane', 'Jack'],
        },
    })
</script>
</html>