<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn vue 2 step by step</title>
    <script src="libs/vue/vue.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
</head>
<body>
<div id="root" class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>01 data binding (v-model)</h3>
            <div class="form-inline">
                <input type="text" id="input" v-model="message" class="form-control">
                <p>The value of the input is: {{ message }}</p>
            </div>

            <h3>03 lists (v-for)</h3>
            <ul>
                <li v-for="name in names">{{ name }}</li>
            </ul>

            <h3>04 event listeners (v-on or @)</h3>
            <div class="form-inline">
                <input type="text" v-model="newName" class="form-control">
                <button v-on:click="addName" class="btn btn-primary">Add New Name</button>
            </div>

            <h3>05 attribute and class name binding (v-bind or :)</h3>
            <div class="form-inlin">
                <button v-bind:title="title" class="btn btn-primary">title attribute binding</button>
                <p :class="{'red': true}">class name will be red if the condition is set to true.</p>
            </div>

            <h3>06 computed properties</h3>
            <p>reversed message: {{ reversedMessage }}</p>

            <h3>07 components 101 (with main.js)</h3>
            <ul>
                <task>Go to the store (captured by slot)</task>
            </ul>

            <h3>08 components within components</h3>
            <task-list></task-list>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#root',
        data: {
            message: 'Hello World',
            names: ['Joe', 'Mary', 'Jane', 'Jack'],
            newName: '',
            title: 'now the title is being set through js',
        },
        methods: {
            addName() {
                this.names.push(this.newName);
                this.newName = '';
            },
        },
        computed: {
            reversedMessage() {
                return this.message.split(' ').reverse().join(' ');
            }
        }
    })
</script>
<style>
    .red { color: firebrick; }
</style>
</html>